.loginbox input{
    border-radius: 5px;
}

.joinbtn{
    color: #fff;
    background-color: #999999;
}

.joinbtn:hover{
    border: 2px solid #999999;
    background-color: #fff;
    color: #999999;
}

.sns{
    margin: 0 auto;
    text-align: center;
}

.sns a{
    display: inline-block;
    margin-bottom: 10px;
}